<div class="row">
    <div class="col-xs-12">
        <div class="well" data-auto-height="480">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">

                    <form name="contactForm" novalidate>
                        <div class="form-group" data-ng-class="{'has-error': (contactForm.firstName.$invalid && contactForm.firstName.$touched)}">
                            <label for="firstName" class="control-label">First name</label>
                            <input name="firstName" id="firstName" class="form-control" data-ng-model="contact.firstName" required/>
                            <span class="help-block" data-ng-show="contactForm.firstName.$error.required && contactForm.firstName.$touched">Required</span>
                        </div>
                        <div class="form-group" data-ng-class="{'has-error': (contactForm.lastName.$invalid && contactForm.lastName.$dirty) }">
                            <label for="lastName" class="control-label">Last name</label>
                            <input name="lastName" id="lastName" class="form-control" data-ng-model="contact.lastName" required/>
                            <span class="help-block" data-ng-show="contactForm.lastName.$error.required && contactForm.lastName.$dirty">Required</span>
                        </div>
                        <div class="form-group">
                            <label for="address" class="control-label">Address</label>
                            <textarea rows="3" name="address" id="address" class="form-control" data-ng-model="contact.address" autocomplete="off"></textarea>
                        </div>
                        <div class="form-group" data-ng-class="{'has-error': (contactForm.phone.$invalid && contactForm.phone.$dirty)}">
                            <label for="phone" class="control-label">Phone</label>
                            <input name="phone" id="phone" class="form-control" data-ng-model="contact.phone" required data-ng-pattern="/^555-[A-Z]{5,6}$/" ng-minlength="3" autocomplete="off" />
                            <div class="help-block" data-ng-if="contactForm.phone.$dirty" data-ng-messages="contactForm.phone.$error">
                                <span data-ng-message="required">Required</span>
                                <span data-ng-message="minlength">Too short</span>
                                <span data-ng-message="pattern">Respect format 555-XXXXXX</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="control-label">Description</label>
                            <div markdown data-ng-model="contact.description"></div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" data-ng-click="saveContact(contact)" data-ng-disabled="contactForm.$invalid">Save</button>
                            <a class="btn btn-default" href="#/list">Cancel</a>
                            <button type="button" class="btn btn-danger" data-ng-click="deleteContact(contact)" data-ng-disabled="!contact.id && contact.id !== 0">Delete</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
