<div class="row">
    <div class="col-xs-12">
        <div class="well">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <form name="loginForm" >
                        <div class="form-group">
                            <label for="user" class="control-label">User</label>
                            <input type="text" name="user" data-ng-model="user.name" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="pass" class="control-label">Password</label>
                            <input type="password" name="pass" data-ng-model="user.pass" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" data-ng-click="login(user)" data-ng-disabled="loginForm.$invalid">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

